@page "/"

<PageTitle>Index</PageTitle>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h2>Who am I?</h2>
            <p>I am a senior software engineer with over 20 years experience creating software solutions on Windows 
            and web platforms in agile and team-driven environments. I absolutely thrive on teams where continued 
            education and collaboration are embraced.</p>

            <p>I love learning new things, and improving myself both professionally and personally.</p>

            <p>In my spare time, I enjoy coaching youth soccer, working on personal projects, playing video games, 
            working on pixel art, and watching horror movies.</p>
        </div>
    </div>
</div>
