@page "/about"

<PageTitle>About</PageTitle>

<div class="container p-lg-5">
    <div class="row">
        <div class="col-lg-5">
            <h1>Who am I?</h1>
            <p>
                I am a senior software engineer with over 20 years experience creating software solutions on Windows 
                and web platforms in agile and team-driven environments. I absolutely thrive on teams where continued 
                education and collaboration are embraced.
            </p>

            <p>
                I'm well organized, and love process. I'm a huge fan of scrum/agile. I love learning new things, and 
                improving myself both professionally and personally.
            </p>

            <p>In my spare time, I enjoy coaching youth soccer, working on personal projects, playing video games, 
            working on pixel art, and watching horror movies.</p>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-6">
            <img class="img-fluid" src="images/me2.jpg" />
        </div>
    </div>
</div>