@page "/"

<PageTitle>Index</PageTitle>

<div class="container p-lg-5">
    <div class="row">
        <div class="col-lg-6">
            <h1 class="animate__animated animate__pulse">Jason Shands</h1>
            <h4 class="animate__animated animate__pulse animate__delay-1s">A passionate software engineer from Huntsville, AL</h4>
            <h5>
                <a href="https://www.linkedin.com/in/jason-shands-215757238/">
                    <i class="fa-2x fa-brands fa-linkedin-in"></i>
                </a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://github.com/shandsj">
                    <i class="fa-2x fa-brands fa-github"></i>
                </a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://twitter.com/shandsjm">
                    <i class="fa-2x fa-brands fa-twitter"></i>
                </a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://codingoncaffeineblog.wordpress.com/">
                    <i class="fa-2x fa-brands fa-wordpress"></i>
                </a>
            </h5>
        </div>
    </div>
</div>
