@page "/skills"

<div class="container p-lg-5">
  <div class="row">
    <div class="col-lg-6">
      <h1><i class="fa-solid fa-code"></i> Skills & Experience</h1>      
      <p>
        The majority of my experience has been with .NET. I started with .NET 1.0 in my first professional job
        in 2002. Since then I've branched out into other languages and frameworks, trying to stay as updated
        as possible with the latest technology in this industry.
      </p>
      <p>
        I consider myself a full stack developer, and will spend time learning the technology stack
        being used in a project, so I can contribute as full stack developer. The projects I'm currently working 
        on are written in .NET 6.0, WPF, Blazor, and use Azure as a backend. I've worked on projects in the past 
        with an Angular frontend and Signal-R/C# backend. Feel free to browse my <a href="https://github.com/shandsj">
        GitHub</a> to see source my some of my personal projects.
      </p>
      <p>
        I'm also a huge proponent of the Domain-Driven Design paradigm, developed by Eric Evans. Reading through his
        book, learning through the community, and putting DDD into practice has really helped solidify design as one 
        of my strong skills.
      </p>
      <p>
        If you'd like to consider me for an opportunity, feel free to reach out to me on 
        <a href="https://www.linkedin.com/in/jason-shands-215757238/">LinkedIn</a>, or 
        <a href="contact">contact me</a> for a resume. I'd love to hear what 
        you have to say!</p>
    </div>
    <div class="col-lg-6">
      <h4>Backend</h4>
      <p>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">C# & .NET</div>
        </div>
      </p>
      <p>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">Domain Driven Design & Architecture</div>
        </div>
      </p>
      <p>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">Entity Framework & Databases</div>
        </div>
      </p>
      <p>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">REST & Signal-R</div>
        </div>
      </p>
      <p>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">Azure & Azure Functions</div>
        </div>
      </p>
      <p>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">Python</div>
        </div>
      </p>
      <p>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">C++</div>
        </div>
      </p>
      <p>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">Java</div>
        </div>
      </p>
      <h4>Frontend</h4>
      <p>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">WPF & Windows Forms</div>
        </div>
      </p>
      <p>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">Blazor</div>
        </div>
      </p>
      <p>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">Bootstrap</div>
        </div>
      </p>
      <p>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">Typescript</div>
        </div>
      </p>
      <p>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">Angular</div>
        </div>
      </p>
    </div>
  </div>
</div>