<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <i class="fa-2x fa-brands fa-js-square" style="color:white"></i>
        <a class="navbar-brand" href="">Jason Shands</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="fa-solid fa-house"></i>&nbsp;&nbsp;Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="skills">
                <i class="fa-solid fa-code"></i>&nbsp;&nbsp;Skills
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="contact">
                <i class="fa-solid fa-envelope"></i>&nbsp;&nbsp;Contact Me
            </NavLink>
        </div>
        <div class="container-fluid">
            <div class="row justify-content-sm-center">
                <div class="d-flex justify-content-center">...
                    <a href="https://www.linkedin.com/in/jason-shands-215757238/">
                        <i class="fa-brands fa-linkedin-in" style="color:white"></i>
                    </a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="https://github.com/shandsj">
                        <i class="fa-brands fa-github" style="color:white"></i>
                    </a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="https://codingoncaffeineblog.wordpress.com/">
                        <i class="fa-brands fa-wordpress" style="color:white"></i>
                    </a>
                </div>
            </div>            
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
