<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">    
      @* <i class="fa-2x fa-brands fa-js-square" style="color:white"></i> *@
    <a class="navbar-brand" href="">&nbsp;Jason Shands</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation" @onclick="ToggleNavMenu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="@NavMenuCssClass navbar-collapse" id="navbarColor02"  @onclick="ToggleNavMenu">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="fa-solid fa-house"></i>&nbsp;&nbsp;Home
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="skills">
                <i class="fa-solid fa-code"></i>&nbsp;&nbsp;Skills
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="contact">
                <i class="fa-solid fa-envelope"></i>&nbsp;&nbsp;Contact Me
            </NavLink>
        </li>
      </ul>
      <form class="d-flex">
            <div class="row justify-content-sm-center">
                <div class="d-flex justify-content-center">
                    <a href="https://www.linkedin.com/in/jason-shands-215757238/">
                        <i class="fa-brands fa-linkedin-in" style="color:white"></i>
                    </a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="https://github.com/shandsj">
                        <i class="fa-brands fa-github" style="color:white"></i>
                    </a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="https://codingoncaffeineblog.wordpress.com/">
                        <i class="fa-brands fa-wordpress" style="color:white"></i>
                    </a>
                </div>
            </div>   
      </form>
    </div>
  </div>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
